.asset-menu-items {
  position: absolute;
  border-radius: 0.4rem;
  outline: none;
  z-index: 100;
  background: #375BD2;
}

.center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-arrow-container {
  position: absolute;
  top: 1rem;
  margin: 0 0.2rem 0 0.2rem;
}

.dropdown-arrow {
  cursor: pointer;
  color: var(--textColor);
}
.dropdown-arrow:hover {
  opacity: 1;
}

.asset-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  padding: 0.85rem 0.8rem;
}
.asset-item:hover {
  background: var(--dark-blue-hover);
  color: white;
  border-radius: 0.4rem;
}
.asset-item p {
  margin: 0;
  margin-left: 0.5rem;
}
